@{
    ViewData["Title"] = "Zafar kursları - Ana Səhifə";
}

<section class="hero__area hero__height d-flex align-items-center grey-bg-2 p-relative">
    <div class="hero__shape">
        <img class="hero-1-circle" src="~/assets/img/shape/hero/hero-1-circle.png" alt="">
        <img class="hero-1-circle-2" src="~/assets/img/shape/hero/hero-1-circle-2.png" alt="">
        <img class="hero-1-dot-2" src="~/assets/img/shape/hero/hero-1-dot-2.png" alt="">
    </div>
    <div class="container">
        <div class="hero__content-wrapper mt-90">
            <div class="row align-items-center">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="hero__content p-relative z-index-1">
                        <h3 class="hero__title">
                            <span class="yellow-shape" style="font-weight:bold;">İşimiz Təhsil<img src="~/assets/img/shape/yellow-bg.png" alt="yellow-shape"> </span>
                           Gücümüz Təhsil.
                        </h3>
                        <p>Dərslərlə, sillabuslarla tanış ol</p>
                        <a asp-controller="Services" asp-action="Courses" class="e-btn">Daha çox</a>
                    </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                    <div class="hero__thumb d-flex p-relative">
                        <div class="hero__thumb-shape">
                            <img class="hero-1-dot" src="~/assets/img/shape/hero/hero-1-dot.png" alt="">
                            <img class="hero-1-circle-3" src="~/assets/img/shape/hero/hero-1-circle-3.png" alt="">
                            <img class="hero-1-circle-4" src="~/assets/img/shape/hero/hero-1-circle-4.png" alt="">
                        </div>
                        <div class="hero__thumb-big mr-30">
                            <img src="~/assets/img/hero/hero-1.jpg" alt="">
                            <div class="hero__quote hero__quote-animation">
                                <span>Sabaha saxlama, İndi başla</span>
                                <h4>Özünü inkişaf etdir</h4>
                            </div>
                        </div>
                        <div class="hero__thumb-sm mt-50 d-none d-lg-block">
                            <img src="~/assets/img/hero/hero-sm-1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="testimonial__area pt-145 pb-150" id="backgroundyellow">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-10">
                <div class="testimonial__slider-3">
                    <h3 class="testimonial__title">Haqqımızda</h3>
                    <div class="swiper-slide swiper-slide-duplicate swiper-slide-duplicate-active" data-swiper-slide-index="0" role="group" aria-label="1 / 12" style="width: 100%;word-wrap:break-word;">
                        <div class="testimonial__item-3">
                            <p>
                                Zəfəroğlu Tədris Mərkəzi” 2015 ci ildə “Zəfəroğlu ”  şirkətlər qrupunun təsisçisi Zəfər Məmmədov tərəfindən qurulmuşdur. Hal hazırda
                                insanların zehnində formalaşmış olan serifikat xaricində heç nə qazandırmayan kurs modelinin əksinə iş sektorunda və informasiya texnalogiyalarındakı inkişaf və ehtiyacları göz önünüə alaraq təlim programlarımızı (interyer, exteryer,qrafik dizayn, backend, frontend veb proqramlaşdırma) yeniləyirik. Təlim alan tələbələrimizi işlərində daha məhsuldar olmasını təmin etməklə yanaşı, işsiz məzunlarımızın da iş tapmasını və əmək bazarına ixtisaslı kadrlar gətirilməsinə də kömək edir
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-10">
                <div class="testimonial__video ml-70 fix" style="width:70%;">
                    <div class="testimonial__video-content d-flex justify-content-center">
                        <div class="row">
                            <div class=" col-4 testimonial__video-icon mr-20 d-grid">
                                <span style="background-color:#fc0000">
                                    <svg version="1.1" id="educal-youtube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;background-color:red;" xml:space="preserve">
                                    <path class="st0" d="M22,11.1V12c0,5.5-4.5,10-10,10C6.5,22,2,17.5,2,12C2,6.5,6.5,2,12,2c1.4,0,2.8,0.3,4.1,0.9"></path>
                                    <polyline class="st0" points="22,4 12,14 9,11 "></polyline>
                                 </svg>
                                </span>
                                <span class="mt-20">
                                    <svg version="1.1" id="educal-youtube" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 24 24" style="enable-background:new 0 0 24 24;" xml:space="preserve">
                                    <path class="st0" d="M22,11.1V12c0,5.5-4.5,10-10,10C6.5,22,2,17.5,2,12C2,6.5,6.5,2,12,2c1.4,0,2.8,0.3,4.1,0.9"></path>
                                    <polyline class="st0" points="22,4 12,14 9,11 "></polyline>
                                 </svg>
                                </span>
                            </div>
                            <div class=" col-7 testimonial__video-text d-grid">
                                <h4 class="mt-10">Təcrübə</h4>
                                <h4 class="mt-40">İş İmkanı</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="course__area pt-115 pb-120 grey-bg">
    <div class="container">
        <div class="row align-items-end">
            <div class="col-xxl-5 col-xl-6 col-lg-6">
                <div class="section__title-wrapper mb-60">
                    <h2 class="section__title">Kariyeraniza<span class="yellow-bg yellow-bg-big"> İstiqamət<img src="~/assets/img/shape/yellow-bg.png" alt=""></span> Veririk</h2>
                </div>
            </div>
            <div class="col-xxl-7 col-xl-6 col-lg-6">
                <div class="course__menu d-flex justify-content-lg-end mb-195">
                    @*<div class="masonary-menu filter-button-group">
                        <button class="active" data-filter="*">
                            See All
                            <span class="tag">new</span>
                        </button>
                        <button data-filter=".cat1" class="">Trending</button>
                        <button data-filter=".cat2" class="">Popularity</button>
                        <button data-filter=".cat3" class="">Featured</button>
                        <button data-filter=".cat4" class="">Art &amp; Design</button>
                    </div>*@
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("ServicesIndex") 
        </div>
    </div>
</section>
